lessons/K0609-22/ttt_client/app/__pycache__/gui.cpython-312.pyc
lessons/K0609-22/ttt_client/app/__pycache__/nosock.cpython-312.pyc
lessons/K0609-22/ttt_client/app/__pycache__/nosock2.cpython-312.pyc
lessons/K0609-22/ttt_client/app/__pycache__/gui.cpython-312.pyc
lessons/K0609-22/ttt_client/app/__pycache__/nosock.cpython-312.pyc
